* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* common style css */
.container {
  max-width: 1280px;
  margin: auto;
}
.flex {
  display: flex;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.primary-font {
  font-size: 1rem;
  color: rgb(0, 0, 0, 50%);
}
.span {
  color: #e95a08;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  background-color: #e95a08;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: white;
}

/* navbar section */
.navbar {
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 120px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  padding: 20px;
  text-decoration: none;
}
.header {
}
/* banner section */
.banner {
  align-items: center;
  margin-top: 90px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  width: 470px;
  font-size: 22px;
}
.banner-section img {
}
/* plant  */
.plant {
  text-align: center;
  margin: 50px 0px;
}
.plant-section p {
  width: 700px;
  margin: auto;
}
.plant-section h2 {
  font-size: 3rem;
}

.card {
  width: 280px;
  text-align: center;
  margin-top: 20px;
}
.card h4 {
  margin-top: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* lover section */
.lover-section {
  margin-top: 100px;
  height: 100%;
}
.love-img {
  flex: 1;
}
.love-img img {
  height: 600px;
}
.lover-right-section {
  flex: 1;
  justify-content: center;
  padding: 50px;
}
.lover-right-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.lover-right-section ul li {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 20px;
}
.lover-right-section ul {
  width: 540px;
  padding: 10px;
}

/* join section */
.join-section {
  margin-top: 100px;
}
.join-image {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 530px;
  padding: 20px 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.join-title {
  font-size: 4rem;
  font-weight: 500;
  color: white;
}
.input {
  padding: 20px 200px;
  text-align: left;
}
.join-section-button {
  padding: 20px 40px;
  background-color: #e95a08;
  border: none;
  color: white;
}

/* footer section */
.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.footer-item ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  list-style: none;
}
.footer-item ul li {
  padding: 10px;
}
.footer-section {
  margin-top: 100px;
  margin-bottom: 50px;
}
.footer-logo {
  width: 360px;
  height: 100px;
}
